.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  padding: 0;
  position: relative;
  width: 20%;
  min-width: 300px;
  height: 575px;
  background-color: white;
}

#rcorners {
  border-radius: 6px;
  border: 1px solid black;
}

.close-btn {
  position: absolute;
  top: 16px;
  color: white;
  right: 16px;
}

.pop-img {
  border-radius: 6px;
  height: 75%;
  width: 100%;
}
